:root {
  /* Color Scheme A */
  --background-color : #1C0475;
  --back-accent : #ED0C4C;
  --contrast-text : #C0F20A;
  --dark-text : #A0CC02;
  --light-accent : #8BA820;

  /* Color Scheme B */
  /* --background-color : #023047;
  --back-accent : #ffb703;
  --contrast-text : #219ebc;
  --dark-text : #fb8500;
  --light-accent : #8ecae6; */
}


html, body {
  background-color: var(--background-color);
  overflow-x : hidden;
  margin : 0px;
  padding : 0px;
}


@font-face {
  font-family: "headerFont";
  src: url("assets/headerfont.ttf");
}

.header {
  font-family: "headerFont";
  
  height : 10vh;
  width : 100%;

  padding : 0;
  margin : 0;

  background-color : var(--back-accent);
}

.headLeft{
  color : var(--contrast-text);
  position : absolute;
  top : 0;
  left : 0;

  width : 33.33333%;
  height : 10vh;

  padding : 0;
  margin : 0;
}

.headRight{
  color : var(--contrast-text);
  position : absolute;
  top : 0;
  left : 66.66666%;

  width : 33.33333%;
  height : 10vh;

  padding : 0;
  margin : 0;
}

.textBox{
  color : inherit;
  position : absolute;
  top : 50%;
  left : 50%;

  text-align : center;
  transform : translate(-50%,-50%);

  font-size : clamp(0rem,1.7vw,20rem);
}